.cards {
	display: grid;
	padding: 0 0 50px 0;
	grid-template-columns: repeat(5, 1fr);
	justify-items: center;
	gap: 20px 20px;
	padding-bottom: 60px;

	@media (any-hover) {
		gap: 60px 20px;
	}

	@media (max-width: 1480px) {
		grid-template-columns: repeat(4, 1fr);
	}
	@media (max-width: 1200px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media (max-width: 900px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media (max-width: 620px) {
		grid-template-columns: 100%;
	}
}

.card {
	width: 100%;
	height: 420px;
	position: relative;

	@media (any-hover) {
		height: 370px;
		margin-bottom: 10px;
	}

	@media (max-width: 400px) {
		min-height: 320px;
		height: 100vw;
	}

	&__hover {
		position: absolute;
		width: 100%;
		height: 370px;
		transition: $tr;
		z-index: 1;

		@media (any-hover) {
			overflow: hidden;
		}
	}

	&__image {
		width: 100%;
		height: 270px;
		position: relative;

		@media (max-width: 500px) {
			height: 60vw;
		}

		a {
			cursor: pointer;
		}

		svg {
			position: absolute;
			top: 20px;
			right: 20px;
			stroke-width: 2px;
			fill: transparent;
		}

		.like {
			svg {
				fill: $text-color;
			}
		}

		button {
			width: 100%;
			height: 100%;
			border: none;
			outline: none;
			background: transparent;
		}

		img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
			z-index: -1;
		}
	}

	&__info {
		padding: 10px;
		display: grid;
		grid-template-rows: 40px 30px 30px;
		justify-items: flex-start;
		height: 110px;
		margin-bottom: 10px;

		h3 {
			font-size: 18px;
			cursor: pointer;
		}

		p {
			font-size: 11px;
			margin: 5px 0;
		}

		h4 {
			justify-self: flex-start;
			font-size: 16px;
		}
	}

	&__hide {
		padding: 0px 10px 10px 10px;

		button {
			width: 100%;
			border: none;
			outline: none;
			background: $main-color;
			padding: 10px;
			color: $light-gray;
		}
	}

	@media (any-hover) {
		&:hover {
			.card__hover {
				height: 440px;
				z-index: 2;
			}
		}
	}
}
