.massage {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .user {
    width: 800px;
    display: flex;
    gap: 20px;
    align-items: center;
    .avatar {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      h1 {
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        font-size: 34px;
        color: #FFF;
      }      
    }
    .person {
      width: 180px;
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      gap: 5px;
      h2 {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        font-size: 20px;
        font-weight: 400;
        
      }
      a {
        color: #0313ff;
        &:hover {
          text-decoration: underline;
        }
      }
      h3 {
        display: flex;
        align-items: center;
        font-size: 16px;
        font-weight: 350;
      }
    }
    .line {
      width: 1px;
      height: 50px;
      background-color: #bebebe;
    }
    .chat {
      h5 {
        font-size: 16px;
        font-weight: 500;
      }
      p {
        font-size: 14;
        font-weight: 300;
        width: 400px;
      }
    }
  }
}