#admin {
	.admin {
		max-width: 1480px;
		width: 100%;
		display: flex;
		padding: 20px 0;
		gap: 15px;
		.zakladki {
			width: 325px;
			display: flex;
			align-items: center;
			flex-direction: column;
			gap: 20px;
			padding: 20px 0;

			button {
				width: 250px;
				height: 40px;
				font-size: 18px;
				background-color: transparent;
				border: 1px solid #bebebe;

			}
		}
		.line__big {
			width: 1px;
			height: 73vh;
			background-color: #bebebe;
		}
		.to__do {
			width: 100%;
			.add__product {
				width: 100%;
				display: none;
			}
			.massages {
				display: none;
				width: 600px;
			}
		}
	}
}
