#home {
	.home {
		margin-top: 20px;

		&__swiper {
			width: 100%;
			height: 40vw;
			margin-bottom: 30px;

			@media (max-width: 1440px) {
				height: 50vw;
			}

			@media (max-width: 900px) {
				height: 60vw;
			}

			.swiper {
				width: 100%;
				height: 100%;
				overflow: hidden;
				position: relative;

				.swiper-wrapper {
					div {
						position: relative;
						width: 100%;
						height: 100%;
						img {
							position: absolute;
							top: 0;
							left: 0;
							width: 100%;
							height: 100%;
							z-index: -1;
							object-fit: cover;
						}
					}
				}

				.swiper-pagination-progressbar {
					position: absolute;
					top: calc(100% - 4px);
					z-index: 10;
				}

				.swiper-pagination-progressbar-fill {
					background: rgb(58, 159, 226);
				}

				.swiper-button-prev,
				.swiper-button-next {
					position: absolute;
					width: 48px;
					height: 48px;
					top: 50%;
					transform: translateY(-50%);
					background: $text-color;

					@media (max-width: 1200px) {
						top: calc(100% - 48px);
					}

					@media (max-width: 900px) {
						display: none;
					}

					&::after {
						position: absolute;
						left: 50%;
						top: 50%;
						transform: translate(-50%, -50%);
						font-size: 24px;
						color: $light-gray;
					}
				}

				.swiper-button-prev {
					left: 48px;

					@media (max-width: 1200px) {
						left: calc(100% - 96px - 50px);
					}

					&::before {
						color: $light-gray;
					}
				}

				.swiper-button-next {
					right: 48px;
				}
			}
		}
	}
}
