* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1480px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

a,
a:hover {
	text-decoration: none;
}

body {
	font-family: 'Roboto', sans-serif;
}

svg path {
	stroke: inherit;
	stroke-width: inherit;
	fill: inherit;
}

svg,
div,
a,
input {
	transition: $tr;
}

svg {
	stroke: $text-color;
}
