* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1180px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

a,
a:hover {
	text-decoration: none;
}

body {
	font-family: sans-serif;
}
