* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container {
	max-width: 1480px;
	width: 100%;
	padding: 0 20px;
	margin: 0 auto;
}

a,
a:hover {
	text-decoration: none;
}

body {
	font-family: 'Roboto', sans-serif;
}

svg path {
	stroke: inherit;
	stroke-width: inherit;
	fill: inherit;
}

svg,
div,
a,
input,
textarea,
button {
	transition: $tr;
}

svg {
	stroke: $text-color;
}

//

.navigate {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 20px 0;

	h4 {
		font-size: 16px;
		font-weight: 400;
	}
}
