@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

// Colors
$text-color: #414141;
$main-color: #245462;
$light-gray: #e6e6e6;
$light-text: #7c7c7c;
$about-line: #D7E8ED;
// Animation
$tr: 0.8s;
